.*
!.gitignore
bin
obj
Debug
Release
Debug_static
Release_static
*.ncb
*.suo
*.user
*_fontcoords.txt
*.dds
*.expr
*.gbl
*.skin
fmod.log
*.sln.cache
*.mp3
*.wav
*.flac
*.m4a
*.pcm
skinactions.dll
*.log
*.tgz
*.tar.gz
*.zip
*.db
o
o2
obs
out
out2
err
*.o
*.a
*.lo
*.la
*.obj
*.lib
*.stackdump
*.mode1v3
*.pbxuser
Makefile
Makefile.Wiki
vc90.pdb
vc100.pdb
broocompiler_debug
*.csproj
*.fsproj
*.sln
*.idb
GenmakeMSBuildTasks.dll
*.log.txt
*.fsyacc.output
*_defunct.sooschema
*.pidb
*.mdb
*~
broocompiler_atlas_cache
local.properties
gen
xcuserdata
*.perspectivev3
genmake/genmake
genmake/makewrap
build_out
promote_out
genmake/genmake.exe
genmake/makewrap.exe
