body {
    font-family: sans-serif;
    font-size: 12pt;
}
div.hr {
    border-bottom = 1px solid #333; 
    width: 100%;
}

b { color: #333; }

h1 { color: #333; }
h2 { color: #333; }
h3 { color: #333; }
h4 { color: #333; }

li { 
    margin-left: -12px;
    list-style: circle;
}

div.leftsep
{
    border-bottom = 1px solid #333; 
    width: 40px;
}
#left {
    float: left;
    width: 80px;
    /*background-color: #eee;*/
    padding-left: 12px;
    padding-right:12px;
    padding-top: 12px;
    font-size: 10pt;
}
#content {
    width: 700px;
    padding-left: 80px; 
}
#main {
    font-size: 10pt;
}
span.title {
}

#top {
    padding: 8px;
    vertical-align: middle;
    border-bottom: 1px solid #aaa;
    font-size: 26pt;
    color: #333;
}
a {
    color: #777;
    text-decoration: none;
}
a:visited {
    color: #666;
}
a:hover {
    text-decoration: underline;
}
.leftlink {
    padding: 2px;  
    padding-left: 4px;   
}
.leftheading {
    color :#333;
    padding: 6px;
    padding-left: 1px;
    font-weight:bold
}
code {
    font-size: 12pt;
}
.codeh2 {
    padding: 2px;  
    padding-left: 4px;   
    color: #333;
}
.codesec {
    padding-left: 4px;   
}
.editortext {
    font-family: monospace;
    width: 640px;
    height: 400px;
}
.submitcontainer {
    width: 640px;
    text-align: right;
}
.submittext {
    width: 640px;
}
.editorheading {
    font-weight: bold;
}
.editortitle {
    width:240px
}
.confirmbuttons {
    margin-top: 8px;
}
.confirm {
    margin-top: 8px;
    width:240px;
    text-align:right;
}
.content {
    margin-top: 12px;
    width: 640px;
}
.contentwrapper {
    border-bottom: 1px solid #aaa;
    width: 640px;
    padding-bottom: 8px;
    min-height: 240px;
}
.editlinks {
    margin-top: 8px;
    width: 640px;
}
.contentwrapper h1 { margin: 0; padding: 0; }
.contentwrapper h2 { margin: 0; padding: 0; }
.contentwrapper h3 { margin: 0; padding: 0; }
.contentwrapper h4 { margin: 0; padding: 0; }

.contentwrapper table * tr th { 
    padding: 6px 12px 6px 12px;
    background-color: #eee;
    border: 1px solid #999;
    vertical-align: bottom;
    color: black;
    empty-cells: show; 
}
.contentwrapper table * tr td       { 
    padding: 4px 8px 4px 8px;
    border: 1px solid #999;
    vertical-align: top;
    empty-cells: show; 
}
.contentwrapper table { 
    border: 1px solid #999;
    border-spacing: 0;
    margin: 0 0 0 0;
    border-collapse:collapse;
}
.editor {
    padding-top: 12px;
}
